H1 {
  background-color: gray;
  margin-left: 600px;
  font-style: oblique;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 600px;
}
em {
  color: red;
  font-style: inherit;
}
p {
  background-color: darkgoldenrod;
}
